#!/bin/bash

export CONTEXT="castledchess"
use asdf

# select env in org prod mock; do
#   case $env in
#     org | prod | mock)
#       echo "Connecting to $env"
#       source .credentials/$CONTEXT.$env
#       break
#       ;;

#     *)
#       echo -n "Invalid env selected (Please enter the number corresponding to the env to connect)"
#       ;;
#   esac
# done

# export PROJECT_DIR=$(pwd)
