!.gitkeep

.credentials
.credentials.*
!.credentials/context.example

.kubeconfig
.kubeconfig.*
!.kubeconfig/.gitkeep
kubeconfig
kubeconfig*
.terraform*
terraform.tfstate*

.venv
__pycache__
environments/*/3_apps/*/package

.DS_Store
.vscode

*.pem
