#!/bin/bash

export SCW_DEFAULT_REGION="fr-par"

# SQS
# export SCW_ACCESS_KEY="scaleway_access_key"
# export SCW_SECRET_KEY="scaleway_secret_key"
# export SCW_ENDPOINT_URL="https://sqs.mnq.fr-par.scaleway.com"
# export QUEUE_URL="https://sqs.mnq.fr-par.scaleway.com/project-000xxx-000xxx-000xxx-000xxx-000xxx/"

# S3
# export SCW_ACCESS_KEY="scaleway_access_key"
# export SCW_SECRET_KEY="scaleway_secret_key"
# export SCW_ENDPOINT_URL="https://your-bucket.s3.fr-par.scw.cloud"

# PostgreSQL
# export POSTGRESQL_HOST="00.00.00.00"
# export POSTGRESQL_DB="db_name"
# export POSTGRESQL_USER="db_user"
# export POSTGRESQL_PASSWORD="db_password"
# export POSTGRESQL_PORT="5432"

# MySQL
# export MYSQL_HOST="00.00.00.00"
# export MYSQL_DB="db_name"
# export MYSQL_USER="db_user"
# export MYSQL_PASSWORD="db_password"
# export MYSQL_PORT="3306"

# Redis
# export REDIS_HOST="000.000.000.000"
# export REDIS_PORT="6379"
# export REDIS_USERNAME="redis_user"
# export REDIS_PASSWORD='redis_password'
# export REDIS_USE_CLUSTER="true"
# export REDIS_CACERT="SSL_redis-mock.pem"
