#!/bin/bash

source ../../.envrc

export ENV="$(basename "$(pwd)")"
source "../../.credentials/$CONTEXT.$ENV"

pushd $(git rev-parse --show-toplevel)/.kubeconfig/ > /dev/null
kcfg="$(pwd)/$CONTEXT.$ENV"
if [ -f "$kcfg" ]; then
  export KUBECONFIG=$kcfg
fi
popd > /dev/null
