#!/bin/bash

source ../../.envrc

export ENV="$(basename "$(pwd)")"
source "../../.credentials/$CONTEXT.$ENV"

kcfg=../../.kubeconfig/kubeconfig-$CONTEXT-$ENV
if [ -f "$kcfg" ]; then
    export KUBECONFIG=$kcfg
fi
